---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import logo from "../../public/logo.svg";
---

<Layout title="Isla Paulino">
  <main class="min-h-screen flex justify-between items-center flex-col">
    <div>hi</div>
    <Image src={logo} alt={"Isla Paulino punto com"} height={"125"} />
    <div class="w-full p-4 flex justify-around">
      <Gallery />
      <div class="flex-1"></div>
    </div>
  </main>
</Layout>
